@import "../../styles/mixins";

.productSection {
  @include sectionStyle;
  // background-image: url("/images/productsBackground.jpg");
  // background-size: cover;
  background-color: $white;
}

.container {
  @include containerStyle;
  display: block;
  width: 100vw;
}

.carousel {
  display: flex;
  justify-content: center;
}

@include tablet-landscape {
  .container {
    padding: 0 70px;
  }
}

@include big-phone {
  .container {
    padding: 0 60px;
  }
}

@include phone {
  .productSection {
    height: 70vh;
  }
}
