@import "../../styles/mixins";
@import "../../styles/variables";

.productSection {
  @include sectionStyle;
  background-color: $lightGray;
}

.container {
  @include containerStyle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  width: 50%;
}
@include desktop {
  .text {
    font-size: 20px;
    width: 300px;
  }
}

@include tablet-landscape {
  .productSection {
    @include sectionStyleForSmallerScreen;
  }
  .container {
    padding: 0 70px;
  }

  .text {
    font-size: 20px;
    font-weight: 300;
    width: 300px;
  }
}

@include tablet-portrait {
  .text {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

@include big-phone {
  .container {
    padding: 0 60px;
  }
}

@include phone {
  .productSection {
    height: 70vh;
  }
}
