.productSection {
  height: 100vh;
  background-color: rgb(241, 245, 223);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container {
  padding: 0 80px;
  display: block;
  width: 100vw;
}

.carousel {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 0 70px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    padding: 0 60px;
  }
}

@media only screen and (max-width: 481px) {
  .productSection {
    height: 70vh;
  }
}
