@import "../../styles/mixins";
@import "../../styles/variables";

.productSection {
  @include sectionStyle;
  background-color: $lightGray;
  height: calc(100vh - 70px);
}

.container {
  @include containerStyle;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.textContainer {
  width: 50%;
  margin-right: 100px;
}

@include big-desktop-up {
  .container {
    padding: 0 15%;
  }

  .text {
    font-size: 25px;
    width: 400px;
  }
}

@include desktop {
  .textContainer {
    margin-right: 50px;
  }
  .text {
    font-size: 20px;
    width: 300px;
  }
}

@include tablet-landscape {
  .productSection {
    @include sectionStyleForSmallerScreen;
  }
  .container {
    padding: 0 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .text {
    display: none;
  }
}

@include tablet-portrait {
  .container {
    flex-direction: column;
  }
}

@include phone {
  .container {
    padding: 0 30px;
  }
}
