.carousel {
  width: 400px;
}

.carouselItem {
  height: 300px;
  width: 400px;
}

@media only screen and (max-width: 768px) {
  .carousel {
    width: 350px;
  }

  .carouselItem {
    height: 250px;
    width: 350px;
  }
  .carouselItem h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 576px) {
  .carousel {
    width: 300px;
  }

  .carouselItem {
    height: 200px;
    width: 300px;
  }

  .carouselItem h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 481px) {
  .carousel {
    width: 250px;
  }

  .carouselItem {
    height: 150px;
    width: 250px;
  }
  .carouselItem h3 {
    font-size: 18px;
  }
}
