@import "../../styles/mixins";
@import "../../styles/variables";

// carousel small

.carouselSmall {
  width: 400px;
}

.carouselItemSmall {
  height: 300px;
  width: 400px;
  h3 {
    font-size: 22px;
  }
}

/// carousel big

.carouselItemBig {
  position: relative;
  img {
    width: 100%;
  }
  h3 {
    font-size: 25px;
    color: $black;
  }
}

@include desktop {
  .carouselItemBig {
    h3 {
      font-size: 25px;
    }
  }
}

@include tablet-landscape {
  .carouselItemBig {
    h3 {
      font-size: 20px;
    }
  }
}

@include tablet-portrait {
  .carouselItemBig {
    h3 {
      font-size: 18px;
    }
  }
}

@include big-phone {
  .carouselItemBig {
    h3 {
      font-size: 16px;
    }
  }
}

@include phone {
  .carouselItemBig {
    h3 {
      position: relative;
      top: 50px;
      font-size: 11px;
    }
  }
}
// carousel small media queries

@include tablet-portrait {
  .carouselSmall {
    width: 350px;
  }

  .carouselItemSmall {
    height: 250px;
    width: 350px;

    h3 {
      font-size: 20px;
    }
  }
}

@include big-phone {
  .carouselSmall {
    width: 300px;
  }

  .carouselItemSmall {
    height: 200px;
    width: 300px;
    h3 {
      font-size: 18px;
    }
  }
}

@include phone {
  .carouselSmall {
    width: 250px;
  }

  .carouselItemSmall {
    height: 150px;
    width: 250px;
    h3 {
      font-size: 16px;
    }
  }
}
