@import "../../styles/mixins";

/// carousel big

.carouselBig {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselItemBig {
  img {
    height: 350px;
    width: 600px;
  }
}

@include tablet-portrait {
  .carouselBig {
    width: 500px;
    display: flex;
    justify-content: center;
  }

  .carouselItemBig {
    img {
      height: 300px;
      width: 500px;
    }
    h3 {
      font-size: 16px;
    }
  }
}

@include big-phone {
  .carouselBig {
    width: 400px;
    display: flex;
    justify-content: center;
  }

  .carouselItemBig {
    img {
      height: 200px;
      width: 400px;
    }
  }
}

@include phone {
  .carouselBig {
    width: 300px;
    display: flex;
    justify-content: center;
  }

  .carouselItemBig {
    img {
      height: 150px;
      width: 300px;
    }
  }
}

// carousel small

.carouselSmall {
  width: 400px;
}

.carouselItemSmall {
  height: 300px;
  width: 400px;
  h3 {
    font-size: 22px;
  }
}

@include tablet-portrait {
  .carouselSmall {
    width: 350px;
  }

  .carouselItemSmall {
    height: 250px;
    width: 350px;

    h3 {
      font-size: 20px;
    }
  }
}

@include big-phone {
  .carouselSmall {
    width: 300px;
  }

  .carouselItemSmall {
    height: 200px;
    width: 300px;
    h3 {
      font-size: 18px;
    }
  }
}

@include phone {
  .carouselSmall {
    width: 250px;
  }

  .carouselItemSmall {
    height: 150px;
    width: 250px;
    h3 {
      font-size: 16px;
    }
  }
}
