.navbar {
  background-color: rgba(238, 237, 237, 0.884);
  text-align: center;
}

.dropdown {
  font-size: 0.875rem;
}

@media only screen and (max-width: 576px) {
  .dropdown {
    text-align: center;
  }
}
