@import "../../styles/mixins";

.navbar {
  background-color: transparent;
  text-align: center;
}

.navbarScroll {
  background-color: $white;
  text-align: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.dropdownItem {
  font-size: 0.85rem;
  padding: 0.4rem;
}

@include tablet-landscape {
  .dropdownItem {
    padding: 0.2rem;
  }
}

@include tablet-portrait {
  .dropdownItem {
    text-align: center;
  }
}
