.navbar {
  background-color: rgba(238, 237, 237, 0.884);
  text-align: center;
}

.dropdownMenu {
  margin-right: 20px;
}

.dropdownItem {
  font-size: 0.85rem;
  padding: 0.4rem;
}

@media only screen and (max-width: 992px) {
  .dropdownItem  {
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .dropdownItem  {
    text-align: center;
  }
}
