@import "../../styles/mixins";
@import "../../styles/variables";

.homeSection {
  background-image: url("/images/backgrounds/homeBackgroundalt.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -79px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-48%, -50%);
  height: 90px;
  width: 90px;
}

.scrollDown {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  background-color: transparent;
  border: none;
  color: $black;
  transition: color 0.4s ease;

  svg {
    font-size: 80px;
  }
}

.scrollDown:hover,
.scrollDown:active,
.scrollDown:focus {
  color: $primaryColor;
}

@include tablet-landscape {
  .homeSection {
    margin-top: 0;
    height: calc(100vh - 60px);
  }

  .logo {
    height: 70px;
    width: 70px;
  }

  .scrollDown {
    svg {
      font-size: 60px;
    }
  }
}

@include big-phone {
  .logo {
    height: 50px;
    width: 50px;
  }
  .scrollDown {
    svg {
      display: none;
    }
  }
}
