@import "../../styles/mixins";

.homeSection {
  background-color: rgb(216, 201, 135);
  height: calc(100vh - 61px);
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;

  span {
    color: $primaryColor;
  }
}

.scrollDown {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  background-color: transparent;
  border: none;
  color: $white;
  transition: color 0.4s ease;

  svg {
    font-size: 80px;
  }
}

.scrollDown:hover {
  color: $primaryColor;
}

@include phone {
  .homeSection {
    height: 70vh;
  }
}
