@import "../../styles/mixins";
@import "../../styles/variables";


.map {
  height: 400px;
  width: 400px;
}

@include big-desktop-up {
  .map {
    height: 450px;
    width: 450px;
  }
}

@include tablet-landscape {
  .map {
    height: 300px;
    width: 350px;
    margin-bottom: 100px;
  }
}

@include tablet-portrait {
  .map {
    height: 250px;
    width: 300px;
  }
}

@include big-phone {

}

@include phone {
  .map {
    height: 200px;
    width: 250px;
  }
}
