@import "../../styles/mixins";

.serviceSection {
  @include sectionStyle;
  color: $primaryColor;
  background-color: #ccc;
}

.container {
  @include containerStyle;
  display: block;
  width: 100vw;
  // margin: 0 80px;
}

.itemsContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: $primaryColor;
    text-decoration: none;
  }
}

.item {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  transition: all 0.4s ease;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.2);
}

.item:active {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.2);
}

@include big-desktop-up {
  .item {
    height: 300px;
    width: 300px;
    font-size: 25px;
  }
}

@include tablet-landscape {
  .container {
    padding: 0 70px;
  }

  .item {
    height: 200px;
    width: 200px;
  }
}

@include big-phone {
  .container {
    padding: 0 60px;
  }

  .item {
    height: 150px;
    width: 150px;
    font-size: 14px;
  }
}

@include phone {
  .serviceSection {
    height: 70vh;
  }
  .item {
    font-size: 10px;
    margin: 10px;
    height: 110px;
    width: 110px;
  }
  .itemsContainer {
    flex-direction: column;
  }
}
