.carousel {
  width: 600px;
  display: flex;
  justify-content: center;
}

.item img {
  height: 350px;
  width: 600px;
}

@media only screen and (max-width: 768px) {
  .carousel {
    width: 500px;
    display: flex;
    justify-content: center;
  }

  .item img {
    height: 300px;
    width: 500px;
  }

  .item h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .carousel {
    width: 400px;
    display: flex;
    justify-content: center;
  }

  .item img {
    height: 200px;
    width: 400px;
  }
}

@media only screen and (max-width: 481px) {
  .carousel {
    width: 300px;
    display: flex;
    justify-content: center;
  }

  .item img {
    height: 150px;
    width: 300px;
  }
}
