.finishedProductSection {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.description span {
  color: rgb(207, 3, 3);
  font-weight: 700;
}

.container {
  padding: 0 80px;
  height: calc(100vh - 80px);
}

.scrollDown {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  background-color: transparent;
  border: none;
  color: rgb(207, 3, 3);
  transition: color 0.4s ease;
}

.scrollDown:hover {
  color: rgb(128, 3, 3);
}

.scrollDown svg {
  font-size: 80px;
}

.process {
  padding: 80px 100%;
  background-color: #eee;
  padding-top: 50px;
}

.processTitle {
  font-weight: 700;
  font-size: 40px;
  color: rgb(207, 3, 3);
  padding-bottom: 30px;
}

.stepsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.step {
  height: 300px;
  width: 300px;
  background-color: rgb(207, 3, 3);
  margin: 10px;
  text-align: center;
  position: relative;
  border-radius: 10px;

  transition: all 0.4s ease-in-out;
}

.title,
.stepDescription {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 15px;

  transition: all 0.4s ease-in-out;
}

.title {
  text-transform: uppercase;
  opacity: 1;
}

.stepDescription {
  font-size: 15px;
  opacity: 0;
}

.perfumeIcon {
  height: 50px;
  fill: #fff;
  margin: 10px auto;
}

.step:hover .title {
  opacity: 0;
}

.step:hover .stepDescription {
  opacity: 1;
}

.step:active .title {
  opacity: 0;
}

.step:active .stepDescription {
  opacity: 1;
}

@media only screen and (max-width: 1201px) {
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 0 70px;
  }

  .title {
    font-size: 20px;
  }

  .stepsContainer {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .description {
    font-size: 22px;
  }

  .step {
    height: 250px;
    width: 250px;
  }

  .stepDescription {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    padding: 0 60px;
  }
  .step {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 481px) {
  .container {
    padding: 0 10px;
  }
  .stepsContainer {
    grid-template-columns: auto;
  }
}
