@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  background-color: $white;
  @include card-box-shadow;
  border-radius: 3px;
  position: fixed;
  top: 20%;
  padding: 40px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
  width: 600px;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background-color: transparent;
  height: 25px;
  width: 25px;
  border: none;

  svg {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 2px;
    color: $white;

    transition: all .4s ease;
  }

  svg:hover, svg:focus, svg:active {
    transform: scale(1.1);
  }
}
.description {
  font-size: 18px;
  text-align: center;
  width: 80%;
  padding: 10px;
}

@include tablet-portrait {
  .container {
    padding: 50px 30px 0 30px;
    width: 550px;
  }

  .description {
    font-size: 16px;
  }
}

@include big-phone {
  .container {
    top: 15%;
    padding: 30px 30px;
    margin: auto;
    width: 400px;
  }
  .description {
    font-size: 14px;
  }

  .closeBtn {
    top: 10px;
    right: 10px;
  }
}

@include phone {
  .container {
    top: 60px;
    padding: 40px 20px 0 20px;
    width: 280px;
    margin: 60px auto;
  }
  .description {
    font-size: 10px;
  }
  .closeBtn {
    svg {
      height: 15px;
      width: 15px;
    }
  }
}

