@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  background-color: $white;
  @include card-box-shadow;
  @include card-border-radius;
  position: fixed;
  top: 10%;
  padding: 30px 20px 0 20px;
  margin: 60px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
  width: 600px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  height: 25px;
  width: 25px;
  border: none;

  svg {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 2px;
    color: $white;
  }
}
.description {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  width: 50%;
}

@include tablet-portrait {
  .container {
    padding: 50px;
    margin: 50px;
    width: 550px;
  }

  .description {
    font-size: 16px;
  }
}

@include big-phone {
  .container {
    top: 60px;
    padding: 30px 30px;
    margin: auto;
    width: 400px;
  }
  .description {
    font-size: 14px;
  }
}

@include phone {
  .container {
    top: 60px;
    padding: 40px 20px 0 20px;
    width: 300px;
    margin: 60px auto;
  }
  .description {
    font-size: 10px;
  }
  .closeBtn {
    svg {
      height: 15px;
      width: 15px;
    }
  }
}

