@import "../../styles/mixins";

.container {
  @include containerStyle;
  height: 100vh;
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@include tablet-landscape {
  .container {
    padding: 0 70px;
  }
}

@include tablet-portrait {
  .description {
    font-size: 22px;
  }
}

@include big-phone {
  .text {
    width: 400px;
    position: relative;
    top: 0;
  }
  .container {
    padding: 0 60px;
  }

  .cardsContainer {
    flex-wrap: nowrap;
    width: 900px;
  }
  .description {
    font-size: 18px;
  }
}

@include phone {
  .container {
    padding: 0 10px;
  }
  .aboutSection {
    height: 70vh;
  }
  .description {
    font-size: 16px;
  }
}
