@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  @include containerStyle;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto 50px auto;
  justify-content: center;
  align-items: center;
}

@include big-desktop-up {
  .container {
    padding: 0 15%;
    height: 50vh;
  }
}

@include tablet-landscape {
  .container {
    padding: 0 60px;
  }
}

@include tablet-portrait {
  .container {
    padding: 0 30px;
  }
  .cardsContainer {
    flex-wrap: nowrap;
  }
}

@include big-phone {
  .container {
    padding: 0 10px;
  }
}

@include phone {
  .container {
    padding: 0 10px;
  }
}
