@import "../../styles/mixins";
@import "../../styles/variables";

.footer {
  background-color: $primaryColor;
  color: $white;
  height: 100%;
  text-transform: uppercase;
  padding: 30px 80px 0 80px;

  display: flex;
  bottom: 0;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;

  h6 {
    text-transform: capitalize;
    font-weight: 600;
    // color: $black;
  }

  .contactBtn {
    font-weight: 700;
    color: $primaryColor;
    background-color: $white;
  }
}

.logo {
  height: 70px;
  width: 70px;
  margin-top: 10px;
}

.footerList {
  display: flex;
  flex-direction: column;
  list-style: none;
  a {
    color: $white;
    text-decoration: none;
  }
}

.contactDetails {
  ul {
    list-style: none;
    text-transform: capitalize;
  }
  a:hover,
  a:active {
    color: $primaryColor;
  }
}

.copyright {
  margin-top: 35px;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

@include big-desktop-up {
  .footer {
    padding: 30px 15% 0 15%;
  }
}

@include tablet-landscape {
  .footer {
    font-size: 12px;
    padding: 30px 60px 0 60px;
  }
}

@include tablet-portrait {
  .logo {
    display: none;
  }
  .footer {
    font-size: 10px;
  }
}

@include big-phone {
  .footer {
    padding: 30px 20px 0 20px;
  }
}

@include phone {
  .footer {
    flex-direction: column;
  }
}
