@import "../../styles/mixins";

.footer {
  background-color: $primaryColor;
  color: $white;
  height: 100px;
  text-transform: uppercase;
  padding: 30px 10px 0 10px;

  display: flex;
  flex-direction: column;
  bottom: 0;
  justify-content: center;
  font-size: 14px;
}

.footerList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  a {
   color: $white;
   text-decoration: none;
  }
}

.copyright {
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

@include tablet-landscape {
  .footer {
    font-size: 13px;
    height: 100px;
  }
}

@include tablet-portrait {
  .footer {
    font-size: 10px;
    height: 100px;
  }

  .copyright {
    font-size: 10px;
  }
}

@include big-phone {
  .footer {
    height: 100px;
    font-size: 8px;
  }

  .footerList {
      display: flex;
      flex-wrap: wrap;
  }
}

