@import "../../styles/mixins";

.contactsSection {
  @include sectionStyle;
  background-color: $white;
}

.container {
  @include containerStyle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.list {
  list-style: none;
}

@include tablet-landscape {
  .container {
    padding: 0 70px;
    flex-direction: column;
    align-items: flex-start;
  }
  .contactsSection {
    margin-top: 100px;
  }
  .details {
    margin-bottom: 30px;
  }
}

@include tablet-portrait {
  .contactsSection {
    margin-top: 80px;
  }
}

@include big-phone {
  .container {
    padding: 0 60px;
  }
  .contactsSection {
    margin-top: 50px;
    font-size: 13px;
  }
}

@include phone {
  .contactsSection {
    height: 70vh;
    margin-top: 100px;
  }

  .details {
    margin-bottom: 30px;
  }
}
