@import "../../styles/mixins";
@import "../../styles/variables";

.contactsSection {
  @include sectionStyle;
  background-color: $white;
}

.container {
  @include containerStyle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.list {
  list-style: none;
  font-size: 20px;
}

@include big-desktop-up {
  .container {
    padding: 0 15%;
  }

  .details { 
    font-size: 25px;
  }
}

@include tablet-landscape {
  .container {
    padding: 0 70px;
    flex-direction: column;
    align-items: flex-start;
  }
  .contactsSection {
    margin-top: 100px;
    @include sectionStyleForSmallerScreen;
  }
  .details {
    margin-bottom: 30px;
  }

  .list {
    font-size: 13px;
  }
}

@include tablet-portrait {
  .contactsSection {
    margin-top: 80px;
  }
}

@include big-phone {
  .container {
    padding: 0 60px;
  }
  .contactsSection {
    margin-top: 50px;
  }
}

@include phone {
  .contactsSection {
    height: 100vh;
    margin-top: 100px;
    font-size: 10px;
  }

  .container {
    padding: 0 30px;
  }

  .details {
    margin-bottom: 30px;
  }
}
