@import "../../styles/mixins";
@import "../../styles/variables";

.finishedProductSection {
  margin: 80px 0;
}

.container {
  @include containerStyle;
}
.description {
  font-weight: 300;
  span {
    color: $primaryColor;
    font-weight: 400;
  }
}

.scrollDown {
  margin-left: 45%;
  background-color: transparent;
  border: none;
  color: $primaryColor;

  svg {
    transition: all 0.4s ease;
  }
}

.scrollDown:hover,
.scrollDown:focus,
.scrollDown:active {
  svg {
    transform: scale(1.2);
    color: $primaryColor;
  }
}

.scrollDown svg {
  font-size: 80px;
}

@include big-desktop-up {
  .container {
    padding: 0 15%;
  }
}

@include tablet-landscape {
  .container {
    padding: 0 70px;
  }
  .description {
    font-size: 22px;
  }
}

@include tablet-portrait {
  .description {
    font-size: 22px;
  }
}

@include big-phone {
  .container {
    padding: 0 60px;
  }
  .description {
    font-size: 18px;
  }

  .scrollDown {
    display: none;
  }
}

@include phone {
  .container {
    padding: 0 30px;
  }
  .description {
    font-size: 16px;
  }
}
