@import "../../styles/mixins";
@import "../../styles/variables";


.heading {
  font-weight: 700;
  text-align: left;
  font-size: 50px;
}

.border {
  height: 2px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 2px;
}

@include tablet-landscape {
  .heading {
    font-size: 40px;
  }
}

@include tablet-portrait {
  .border {
    width: 250px;
    margin-top: 10px;
  }
}

@include big-phone {
  .heading {
    font-size: 35px;
  }
  .border {
    width: 200px;
  }
}

@include phone {
  .heading {
    font-size: 30px;
  }
}


