@import "../../../styles/variables";
@import "../../../styles/mixins";

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: rgba($black, 0.4);
  z-index: 10000;

  .overlayContent {
    width: 900px;
    @include card-box-shadow;
    border-radius: 3px;
    background-color: $white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease-in-out;
    z-index: 9000;
    display: flex;
    align-items: center;
  }

  img {
    border-radius: 3px 0 0 3px;
    width: 600px;
  }

  h4 {
    font-size: 20px;
    margin: 0 auto;
  }

  button {
    border: none;
    margin-top: -5px;
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: transparent;

    svg {
      height: 25px;
      width: 25px;
      background-color: transparent;
      color: $lightGray;
      transition: transform 0.4s ease;
    }

    svg:hover,
    svg:focus,
    svg:active {
      transform: scale(1.1);
    }
  }
}

@include big-desktop-up {
  .overlay {
    .overlayContent {
      width: 1000px img {
        width: 800px;
      }
    }
  }
}

@include tablet-landscape {
  .overlay {
    .overlayContent {
      width: 800px;
      img {
        width: 500px;
      }
    }
  }
}

@include tablet-portrait {
  .overlay {
    .overlayContent {
      flex-direction: column;
      width: 600px;
      height: max-content;

      h4 {
        font-size: 16px;
        padding: 10px;
      }
      img {
        width: 600px;
        border-radius: 3px 3px 0 0;
      }

      button {
        svg {
          height: 18px;
          width: 18px;
          color: $white;
        }
      }
    }
  }
}

@include big-phone {
  .overlay {
    .overlayContent {
      width: 400px;
      h4 {
        font-size: 14px;
      }
    }
  }
}

@include phone {
  .overlay {
    .overlayContent {
      width: 310px;

      img {
        width: 310px;
      }
    }
  }
}
