@import "../../styles/mixins";
@import "../../styles/variables";

.aboutSection {
  @include sectionStyle;
  background-image: url("/images/backgrounds/aboutBackground.jpg");
  background-size: cover;
  color: $white;
}

.container {
  @include containerStyle;
}

.paragraph {
  font-weight: 300;
}

@include big-desktop-up{
.container {
    padding: 0 15%;

    .paragraph {
      font-size: 25px;
    }
  }
}

@include tablet-landscape {
  .aboutSection {
    @include sectionStyleForSmallerScreen
  }
  .paragraph {
    font-size: 18px;
  }
  .container {
    padding: 0 70px;
  }

}

@include big-phone {
  .paragraph {
    font-size: 16px;
  }
  .container {
    padding: 0 30px;
  }
}


