.aboutSection {
  background-color: rgb(207, 2, 2);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.container {
  padding: 0 80px;
}

.paragraph {
  font-weight: 300;
}

@media only screen and (max-width: 992px) {
  .paragraph {
    font-size: 18px;
  }

  .container {
    padding: 0 70px;
  }
}

@media only screen and (max-width: 576px) {
  .paragraph {
    font-size: 16px;
  }
  .container {
    padding: 0 60px;
  }
}

@media only screen and (max-width: 481px) {
  .aboutSection {
    height: 70vh;
  }

  .paragraph {
    font-size: 13px;
  }
}
